html,
body,
#container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.input-card {
  width: 150px;
  top: 10px;
  left: 10px;
  bottom: auto;
  position: absolute;
  z-index: 1000;
  background: white;
  padding: 10px;
  border-radius: 4px;
}

.refresh-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

/* 路径规划面板 */
#panel {
  position: fixed;
  background-color: white;
  max-height: 90%;
  overflow-y: auto;
  top: 10px;
  right: 10px;
  width: 280px;
  z-index: 1001;
  /* 比按钮更高 */
}

#panel .amap-call {
  background-color: #009cf9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#panel .amap-lib-driving {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

/* MQTT消息 */
#floating-window {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 320px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-family: sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
  }

#floating-window h4 {
  margin: 0 0 8px 0;
  font-size: 16px;
}

#data-table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
}

#data-table td {
  padding: 2px 6px;
}

#data-table tr:nth-child(odd) {
  background-color: #f0f0f0;
}

#floating-window button {
  margin-top: 8px;
  padding: 4px 10px;
  font-size: 12px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

#floating-window button:hover {
  background-color: #0056b3;
}